{{ define "main" }}
<div class="container team">
    <hgroup>
        {{ partial "breadcrumbs.html" . }}
        <h1>{{ .Title }}</h1>
        <h2>{{ .Description }}</h2>
    </hgroup>

    {{ .Content }}
    <div
        class="{{ if lt (.Params.members | len) 2}}{{ else }}grid {{ if eq (.Params.members | len) 2 }}grid-2{{ end }}{{ end }}">
        <!-- add 'grid' class as soon as more than 1 member will appear here -->
        {{ range .Params.members }}
        <div class="member text-center">
            <img src="{{.photo | absURL }}" layout="responsive"></img>
            <div style="font-weight:bold;">{{.name}}</div>
            <div style="text-decoration: underline;">{{.role}}</div>
            <div>{{.about}}</div>
            <br />
            {{- if .posts_slug }}<div>Find all articles by {{.name}} <a href="/authors/{{.posts_slug}}">here.</a></div>{{- end }}
            <br />
            <div>
                {{- if .linkedin }}<a href="{{.linkedin}}"><i data-feather="linkedin"></i></a>{{- end -}}
                <span style="margin-left:.5em; margin-right:.5em;">&middot;</span>
                {{- if .github }}<a href="https://github.com/{{.github}}"><i data-feather="github"></i></a>{{- end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
