{{ define "main" }}
<div class="min-h-80 contact-form">
  <div class="container">
    <hgroup>
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </hgroup>

    {{ .Content }}

    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xgegzdjz"
      method="post">
      <fieldset id="fs-frm-inputs">
        <label for="full-name">Full Name</label>
        <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
        <label for="email-address">Email Address</label>
        <input type="email" name="_replyto" id="email-address" placeholder="mail@example.com" required="">
        <label for="message">Message</label>
        <textarea rows="5" name="message" id="message"
          placeholder="Please briefly describe what you would like to talk about." required=""></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="E13 Contact Form Submission">
      </fieldset>
      <input type="submit" value="Send Inquiry">
    </form>
  </div>
</div>
{{ end }}
