{{ define "main" }}

<section class="hero list" style="background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
url('/images/sergiu-valena-_Drvb_c_72Y-unsplash.jpg');">
  <header class="container">
    <hgroup>
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </hgroup>
  </header>
</section>

<div class="container">
  <hgroup>
    {{- partial "post_meta.html" . -}}
    <p>{{ .Description }}</p>
  </hgroup>
  {{- if .Params.tags }} {{- range ($.GetTerms "tags") }}
  <a href="{{ .Permalink }}">
    <kbd>{{ .LinkTitle }}</kbd>
  </a>
  {{- end }} {{- end }}

  <div class="grid grid-main">
    <div>
      {{- if (.Param "ShowToc") }}
        <article class="toc">
          {{- partial "toc.html" . }} 
        </article>
      {{- end }}
      
      {{if .Params.Cover.Image }}
        <div class="cover">
          <img
            src="{{.Params.Cover.Image | absURL}}"
            layout="responsive"
          >
          <span class="caption">{{.Params.Cover.Caption | markdownify }}</span>
        </img>
        </div>
      {{end}}
    
      <div class="post">
        {{- if not (.Param
        "disableAnchoredHeadings") }} {{- partial "anchored_headings.html"
        .Content -}} {{- else }}{{ .Content }}{{ end }}
      </div>

      {{- if (.Param "ShowShareButtons") }}
      {{ partial "social-share.html" . }}
      {{ end }}
    </div>
    
    {{- if (.Param "ShowRelated") }} 
    <aside>
      <article>
        {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with
        $related }}
        <h3>See Also</h3>

        {{ range . }}

        <a href="{{ .RelPermalink }}">
          <hgroup>
            <h4><i>{{ .Title }}</i></h4>
            <p>{{- partial "post_meta.html" . -}}</p>
          </hgroup>
        </a>

        {{ end }} {{ end }} 
      </article>
    </aside>
    {{ end }}
    
  </div>
  {{- if (.Site.Params.comments) }} {{- partial "comments.html" . }} {{- end }}
</div>
{{ end }}
